<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestBranch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37A9C06F1F297F0A0040598B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37A9C0881F297F0A0040598B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37A9C0931F297F0A0040598B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
